*{
    margin:0px;
    padding:0px;
}
body{
    width: 100%;
    margin: 0 auto;
}
/*head*/
/*top*/
#header{
    background-color:rgb(200, 230, 240);
    background-image: linear-gradient(to right, rgb(200, 230, 240), rgb(30, 130, 225));
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    width: 100%;
}
/*logo*/
#logo{
    height: 100px;
    margin:5px 10px 0px 30px;
}
/*thanh tk*/
#search{
    margin: 20px 10px 5px 10px;
}
#tk{
    width:500px; 
    height:30px; 
    font-size:14px;
}
#submit{
    width:100px; 
    height:35px;
}
/*sign*/
#sign{
    margin: 10px 30px 0px 10px;
}
#sign>ul{
    display: flex;
    flex-wrap: wrap;
}
#sign>ul>li{
    list-style: none;
    padding: 10px 20px;
}
#sign a{
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    display: inline-block;
}
#sign li{
    position: relative;
}
#sign #list-sign{
    position: absolute;
    display: none;
}
#sign li:hover #list-sign{
    display: block;
}
#list-sign li{
    list-style: none;
}
#list-sign a{
    display: inline-block;
    padding: 5px 16px;
    width: 90px;
    height: 20px;
    background-color: white;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    text-align: left;
}
#list-sign a:hover{
    background-color:rgb(45, 145, 210);
    color: white;
    border: 1px solid black;
}

/*navbar*/
#navbar{
    background-color:black;
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
}
#navbar>ul{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
#navbar>ul>li{
    list-style: none;
}
#navbar a{
    padding: 14px 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: black;
    display: inline-block;
}
#navbar li{
    position: relative;
}
#navbar #list-type{
    position: absolute;
    display: none;
}
#navbar li:hover #list-type{
    display: block;
}
#navbar a:hover{
    background-color: rgb(78, 111, 241);
    color: black;
}
#list-type li{
    list-style: none;
}
#list-type a{
    padding: 8px 16px 4px;
    width: 100px;
    height: 20px;
    background-color: rgb(190, 190, 190);
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
#list-type a:hover{
    background-color:skyblue;
    color: white;
    border: 1px solid black;
}
.char {
    display: inline-block;
}
.down {
    margin-left: 5px;
    margin-bottom: 5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
}
/*content*/
#content{
    background-color: rgb(163, 229, 255);
}
#main-content{
    background-color: white;
    width: 95%;
    margin: auto;
    display: flex;
}
#content-left{
    background-color: white;
    width: 20%;
    border-bottom: 1px solid gray;
    max-height: 955px;
}
#content-left-top{
    width: 100%;
}
#content-left-top>ul>li{
    list-style: none;
    border-bottom: 1px solid gray;
}
#content-left-top>ul>li:last-child{
    margin-bottom: 25px;
}
#content-left-top a{
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(38, 38, 38);
    background-color: white;
    font-weight: bold;
    line-height: 50px;
    width: 100%;
    padding: 6%;
}
#content-left-middle{
    width: 95%;
    margin: auto;
    border: 1px solid gray;
    line-height: 30px;
    padding-left: 10px;
}
.title-loc{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}
.content-loc{
    overflow-y: scroll;
    height: 100px;
    line-height: 20px;
    border-bottom: 1px solid gray;
}
.content-loc::-webkit-scrollbar{
    width: 10px;
}
.content-loc::-webkit-scrollbar-thumb{
    background-color: skyblue;
    border-radius: 5px;
}
#sach{
    border-bottom: 1px solid gray;
}
#khoanggia{
    color: gray;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
}
#khoang{
    padding-bottom: 5px;
}
#k{
    width: 95px;
    height: 30px;
}
#apdung{
    padding-bottom: 5px;
}
#apply{
    font-size: 16px;
    color: rgb(0, 0, 0);
    background-color: skyblue;
    width: 100px;
    height: 35px;
}

#content-right{
    width: 80%;
    background-color: white;
}
#content-right-top{
    width: 95%;
    margin: 10px 0px 10px 25px;
    border-bottom: 2px solid gray;
    padding-bottom: 11px;
}
#sxb>a{
    text-decoration: none;
    color: blue;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
}
.middle-ct{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.items{
    border: 1px solid rgb(175, 175, 175);
    padding: 5px;
    margin: 5px;
    width: 20%;
}
.sale{
    display: block;
    float: right;
    padding: 6px 8px;
    background-color: rgb(195, 230, 255);
    background-image: linear-gradient(to right, white, skyblue);
    color: orangered;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; 
    text-decoration: none;
    margin-bottom: 2px;
} 
.anh{
    margin-bottom: 5px;
    width: 100%;
    height: 210px;
    margin: auto;
}
.name{
    display: block;
    width: 100%;
    height: 50px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.cost{
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: orangered;
    font-weight: bold;
}
.cost-sale{
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(171, 171, 171);
    text-decoration: line-through;
}   
/*footer*/
#footer{
    background-color: white;
    width: 100%;
    height: 250px;
    display: inline-block;
    border-top: 1px solid gray;
}
#main-footer{
    width: 85%;
    margin: auto;
    padding-top: 15px;
}
#foot1{
    width: 40%;
    float:left;
    clear: right;
    line-height: 25px;
}
#foot1>p{
    font-size: 16px;
    color: black;

}
.foot2{
    width: 20%;
    float:left;
    clear: right;
    line-height: 30px;
}
.title-footer a{
    padding: 8px 20px; 
    background-color: rgb(25, 25, 160);
    color:white;
    font-weight: bold;
    text-transform: uppercase;
}
.content-title-footer a{
    color:black;
}
.content-title-footer a:hover{
    color:rgb(45, 45, 255);
}
.title-footer a, .content-title-footer a{
    text-decoration: none;
    font-size: 16px;
}